@font-face {
    font-family: "Roboto";
    src: url(../assets//Roboto/Roboto-Regular.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "RobotoBold";
    src: url(../assets/Roboto/Roboto-Bold.ttf);
    font-weight: 500;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

// HOME 
.home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 60px;

    .home_left{
        .home_title{
            max-width: 650px;
            font-size: 55px;
            min-height: 0;
            color: #211F54;
            font-family: 'RobotoBold';
        }
        .home_info{
            max-width: 400px;
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #272121;
            margin-top: 20px;
        }
        .home_btn{
            width: 160px;
            height: 50px;
            border-radius: 25px;
            text-align: center;
            border: none;
            background: linear-gradient(0deg, rgb(37, 33, 251) 0%, rgb(59, 105, 230) 100%);
            color: #FFFFFF;
            font-size: 16px;
            font-family: 'Roboto';
            margin-top: 20px;
        }
    }
    .home_right{
        .home-image{
            // width: 550px;
            // height: 420px;
            width: 100%;
            height: auto;
        }
    }   
}




.contact {
    background-color: #F7F9FC;
    .contact-fluid{
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
        .contact-left{
            padding-right: 50px;
            position: relative;
            .contact-title{
                font-family: "RobotoBold";
                font-size: 48px;
                font-weight: 700;
                line-height: 57.98px;
                text-align: left;
            }
            .contact-info{
                font-family: "Roboto";
                font-size: 21px;
                font-weight: 400;
                line-height: 30.01px;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 25px;
            }
            .contact-btn{
                width: 256.79px;
                height: 73px;
                margin-top: 50px;
                opacity: 0px;
                font-family: "RobotoBold";
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
                background-color: #fff;
                color: #211F54;
            }
        }
        .contact-right{
            .row{
                margin-top: 20px;
                label{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30.01px;
                    text-align: left;
                    margin-bottom: 10px;
                    color: #211F54;
                }
                .form-control{
                    width: 259px;
                    height: 72px;
                }
            }
            .text-label{
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 30.01px;
                text-align: left;
                margin-top: 10px;
                color: #211F54;
            }
            .form-textarea{
                width: 551px;
                height: 144px;
                margin-top: 10px;
            }
            .submit{
                background: #0075FF;
                width: 219px;
                height: 52px;
                border-radius: 15px;
                width: 179px;
                margin-top: 25px;
            }
        }
    }    
}


.services{
    margin-bottom: 50px;
    .head-services{
        display: flex;
        justify-content: space-between;
        h2{
            font-family: "RobotoBold";
            font-size: 48px;
            font-weight: 700;
            line-height: 57.98px;
            text-align: left;
            color: #211F54;
        }
        .services-btn{
            width: 214px;
            height: 73px;      
            background-color: #EFF0F6;
            font-family: "Roboto";
            font-size: 18px;
            line-height: 20px;
        }
    }
    .service-full{
        margin-top: 30px;
        .service-cards{
            text-align: center;
            display: flex;
            justify-content: space-around;
            .service{
                width: 388px;
                height: 494px;
                gap: 0px;
                opacity: 0px;
                margin: 15px;
                background-color: #EFF0F6;
                border-radius: 10px;
                padding: 40px;
                .service_img{
                    width: 220px;
                    margin-top: 25px;
                    height: 190px;
                }
                .service-title{
                    font-family: "RobotoBold";
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 34.01px;
                    text-align: center;
                    margin-top: 20px;
                }
                .service-info{
                    font-family: "Roboto";
                    font-size: 21px;
                    margin-top: 20px;
                    font-weight: 400;
                    line-height: 30.01px;
                    text-align: center;
                }
            }
        }
        
    }   
}


// Footer  
.footer{
    display: flex;
    align-items: top;
    justify-content: space-between;
    
    h3{
        font-family: "RobotoBold";
        font-size: 28px;
        margin-bottom: 15px;
    }
    h2{
        color: #0075FF;
        font-family: "RobotoBold";
        font-size: 28px;
        margin-top: 10px;
    }
    p{
        font-family: "Roboto";
        font-size: 18px;
        margin-top: 10px;
    }
    .col{
        padding: 50px 70px 0 0;
        }
    .footer-contact{
        .footer-list{
            padding-left: 0;
            .footer-item{
                list-style: none;
                margin-top: 20px;
                font-size: 18px;
            }
        }
    }
    .footer-btn{
        width: 256px;
        height: 72px;
        border-radius: 25px;
        text-align: center;
        border: none;
        background: linear-gradient(0deg, rgb(37, 33, 251) 0%, rgb(59, 105, 230) 100%);
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'RobotoBold';
        margin-top: 10px;
    }
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    margin: 70px 0 60px 0;
    padding-top: 50px;
    h2{
        font-family: "Roboto";
        font-size: 18px;
        color: #6E7191;
        span{
            font-family: "Roboto";
            font-size: 18px;
            color: #0075FF;
        }
    }
}


@media (max-width: 1200px){
    .home {
        background: linear-gradient(65deg, rgba(134, 132, 132, .616), rgba(0, 0, 0, .205)), url(../assets/images/Group.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        border-radius: 20px;
        .home_left{
            .home_title {
                font-size: 65px;
                color: #ffffffec;
            }
            .home_info {
                color: #ffffe8;
            }  
        }      
        .home_right{
            display: none;
        }
    }
    .contact {
        .contact-fluid{
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 50px 0;
            .contact-left{
                margin-bottom: 50px;
                align-items: center;
                display: flex;
                flex-direction: column;
                .contact-info{
                    width: 700px;
                }
            }
        }    
    }

    .services{
        .head-services{
            display: flex;
            flex-direction: column;
            align-items: center;
            .services-btn{
                margin-top: 20px;
            }
        }
    .service-full{
        margin-top: 40px;
        .service-cards{
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            .service{
                width: 518px;
                height: 554px;
                margin-top: 40px;                
                .service_img{
                    width: 250px;
                    height: 210px;
                }
                .service-title{
                    font-size: 26px;
                }
            }
        }
    }  
    }
    .footer{
        .footer-contact{
            display: none;
        }
    }
}

@media  (max-width: 768px) { 
    .contact {
        .contact-fluid{
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 50px 0;
            .contact-left{
                margin-bottom: 50px;
                align-items: center;
                display: flex;
                flex-direction: column;
                .contact-info{
                    width: 380px;
                }
            }
            .contact-right{
                align-items: center;
                display: flex;
                .row{
                    display: flex;
                    flex-direction: column;
                    .form-group{
                        align-items: center;
                        display: flex-wrap;
                        margin-top: 20px;
                    }
                }
                .form-textarea{
                    width: 100%;
                }
            }
        }    
    }
    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        
      
        
        
        .col{
            align-items: center;
            width: 500px;
            }
        
        .footer-btn{
            align-items: center;
        }
    }
    .footer-bottom{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid #ccc;
        margin: 70px 0 30px 0;
        padding-top: 25px;
        h2{
            display: none;
        }
    }
  }